html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #04152e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    color: #fff;
    z-index: 10;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(rgb(236, 15, 188), rgb(138, 245, 218));
    position: absolute;
    left: 50%;
    top: -5%;
    z-index: 1;
}

.pinkcircle {
    height: 250px;
    width: 250px;
    background: linear-gradient(#ff3a9c, #ff3a3a);
    position: absolute;
    transform: translate(-70%, 100%);
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 30%;
    z-index: 1;
}

.sub-container {
    width: 400px;
    height: 450px;
    border-left: 1px solid #ffffff70;
    border-right: 1px solid #a1a1a1;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    box-shadow: 0 10px 5px 0 rgba(255, 255, 255, 0.3);
}

label {
    color: #fff;
    padding: 30px;
}

input {
    width: 90%;
    height: 40px;
    margin: 15px;
    border: none;
    background: #fffefe8c;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

input::selection {
    border: none;
}

input::placeholder {
    color: #fff;
}

input:focus {
    border-color: rgb(47, 216, 188);
    outline: none;
    box-shadow: 0 0 20px rgb(0, 255, 200);
    border: 2px solid #00ffc8;
    background: transparent;
}

#exchangeRate {
    background-color: #fff;
    color: #000 !important;
    border-radius: 5px;
}

#exchangeRate::placeholder {
    color: #000;
    font-size: 16px;
    text-align: center;
}

.currency-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.from label {
    color: #fff;
    font-weight: bold;
    min-width: 50px;
}

.from select {
    display: block;
    margin: 10px 30px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
}


select {
    background: #0d1b2a;
    color: #fff;
    border: 1px solid #00ffc8;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: 130px;
    appearance: none;      /* Remove default arrow*/
    cursor: pointer;
    position: relative;
    z-index: 2;
}

option {
    color: #fff;
    background: #0d1b2a;
    padding: 10px;
}

option:hover, option:checked{
    background: #00ffc8;
    color: #000;
}

#swap {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #b6b6b6;
}

.fa-arrow-right-arrow-left {
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

#exchangeRate {
    border: none;
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 15px;
}

@media(max-width: 1023px) {
    .sub-container {
        width: 40%;
        height: auto;
        padding: 30px 20px;
        margin: 50px auto;
        border-radius: 20px;
    }

    input,
    #exchangeRate {
        width: 100%;
        margin: 10px 0;
        margin-bottom: 15px;

    }

    .currency-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .from,
    .to {
        flex: 1;
    }

    .from select {
        width: 95%;
        margin: 0 10px 10px 0;
    }

    h1 {
        font-size: 24px;
        display: block;
    }

    label {
        font-size: 16px;
        display: block;
    }
}

@media(max-width: 768px) {
    .sub-container {
        width: 70%;
        padding: 20px 10px;
        height: 500px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 22px;
    }

    .circle,
    .pinkcircle {
        height: 250px;
        width: 250px;
    }

    label {
        padding: 10px 0;
    }

    input {
        font-size: 16px;
    }

    #result {
        font-size: 16px;
    }
}