table,th,td{
    border: 1px solid #e7e7e7;
    padding: 10px;
}

.project{
    background: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.color{
    color: aliceblue;
    display: flex;
    flex-direction: row;
}

.key{
    font-size: 2em;
}

@media(max-width: 768px){
    .key{
        font-size: 1.5em;
    }
}