body{
    background-color: #333;
    text-align: center;
    color: #fff;
}

.container{
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
}

p label{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

button{
    color: rgb(25, 0, 255);
    background-color: rgb(35, 179, 172);
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

#results{
    color: #fff;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.form-guide{
    margin-top: 20px;
    color: orangered;
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.form-guide p{
    color: yellow;
    font-size: 0.9em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}