body{
    text-align: center;
}

h1{
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.button{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid black;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#brown{
    background-color: brown;
}

#purple{
    background-color: purple;
}

@media(max-width: 1024px) {
    .button{
        display: block;
        margin: 20px auto;
    }
}