body {
    background-color: #4f4d4d;
    color: #fff;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h2 {
    color: rgb(186, 218, 246);
    font-size: 2.5rem;
}

input {
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

#add {
    background-color: teal;
    padding: 15px 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#subt {
    background-color: rgb(231, 21, 119);
    padding: 15px 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear {
    background-color: rgb(233, 136, 167);
    padding: 15px 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    h2 {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }

    .container {
        height: 100%;
        width: 50%;
        margin: auto;
        padding: 80px 0;
        overflow: hidden;
    }

    input{
        margin: auto;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 2rem;
        margin: 30px 0;
    }

    .container {
        height: 100%;
        width: 50%;
        margin: auto;
        padding: 100px 0;

    }

    input {
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
}